build/
out/
bin/
obj/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.user
*.suo
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.recipe
*.log
*.aps

*.exe
*.dll

*.renegade.bak
